*{
    box-sizing: border-box;
    margin: 0;
}

body{
    margin: 0;
    text-align: center;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 17px;
    color: #926239;
    line-height: 1.6;
}

header {
    height: 100vh;
    padding: 27vh 5vw;
    background-image: url(./../images/bgBeach.jpg);
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
}

h1{
    font-size: 50px;
    line-height: 1.2;
}

.header-prgrf{
    font-size: 20px;
    margin-bottom: 20px;
}

.button{
    font-size: 18px;
    text-decoration: none;
    color: #926239;
    border: #926239 1px solid;
    padding: 10px 20px;
    border-radius: 10px;
}

.button:hover{
    background-color: #926239;
    color:white ;
}

.prgrf-acent-color{
    background-color: #926239;
    color: white;
}

.prgrf-padding{
    padding: 20px;
}

.article-two{
    font-size: 0;
}

.prgrf-align{
display: inline-block;
width: calc(100%/3);
font-size: 17px;
padding: 20px;
}

